.popup {
height:100vh;
width:100%;
position: fixed;
top:0;
left:0;
background-color: rgba($color-black,.8);
z-index: 9999;
opacity: 0;
visibility: hidden;
transition: all .4s;

@supports(-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
background-color: rgba($color-black,.3);
}


  &__content {
    @include absCenter;

    width:75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black,.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;      
    transform: translate(-50%,-50%) scale(.25);
    transition: all .5s .2s;

    @include respond (tab-land){
      width:85%;
    }
    @include respond(tab-port){
      width:100%;
      text-align: center;
    }


  }
  &__left {
    width: 33.333333%; 
    height: 100%;
    display: table-cell;


    @include respond(tab-port){
    opacity: 0;
    top:0;
    left:0;
    width:0;
    height: 100%;
    }
  }
  &__right {
    width:66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding:3rem 5rem;

    @include respond(tab-land){
      width:100%;
      padding:2rem 3rem;
    }
  }

  &__img {
    display: block;
    width:100%;
    margin-bottom: -1%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 3.5rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;

    @include respond(tab-land){
      column-count:none;
      column-gap: none;
      column-rule: none;
      -moz-hyphens: none;
      hyphens: none;
      -ms-hyphens: none;
      -webkit-hyphens: none;
      margin-bottom: 2rem;
    }
  }

  //Open states
  &:target {
    opacity: 1;
    visibility:visible;
  }
  &:target &__content {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: all .4s .2s;
  }
  
  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top:2.5rem;
      right:2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .3s;
      line-height: 1;
    }
    &:hover {
      color:$color-primary;
    }
  }
}